/* Add a black background color to the top navigation */

.maintable {
	align-content: center;
	width: 100%;
}

.tittlemain {
	text-align:center;
	background-color: #9a9a9a;
}

.button {
  background-color: #333;
  overflow: hidden;
}

.topnav {
  background-color: #333;
  overflow: hidden;
}



/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #4CAF50;
  color: white;
}

